{% extends "base.html" %}

{% block content %}
    <h1>About Flask API Calls</h1>
    <p class="body about-information"> <br>
        Objective: Make a very simple Flask Application example that calls some APIs.<br>
        program: flask-api-calls <br>
        version: 1.1.0 <br>
        author: Joan A. Pinol <br>
        author_nickname: japinol <br>
        author_gitHub: japinol7 <br>
        author_twitter: @japinol <br>
        Python requires: 3.10 or greater. <br>
    </p>
{% endblock %}
