{% extends "base.html" %}

{% block content %}
    <h1>ChatGPT API call - Assistant</h1>

    <div class="body">
        <form class="chatgpt-form-class" id="chatgpt_form_conversation"
              action="/chatgpt" method="POST" style="background:#b2c8f6;width: 630px;min-width: 200px;max-width: 800px">
            <p><strong>ChatGPT Assistant <br>
                <span class="body_highlight_color_2">(An API key is needed)</span></strong>
            </p>
            <label for="chatgpt_msg"><p><strong>Enter Message</strong></p></label>
            <textarea name="chatgpt_msg" id="chatgpt_msg" rows="9" cols="70"
                      placeholder="Eg: Hi! What are the components of the Model-View-Controller?"
                      required></textarea>
            <button class="submit-messages-random">Submit</button>
            <input type=checkbox name="flags"
                   style="font-size:6px;"
                   value="Fake ChatGPT Answer">Fake ChatGPT Answer<br/>
        </form>

        <div>
            <form class="chatgpt-form-class" id="chatgpt_form_reload_conversation"
                  action="/chatgpt" method="POST" style="background:#b2c8f6">
                <button name="chatgpt_reload_messages" id="chatgpt_reload_messages"
                        style="background:#8fef57"
                        >Load Current Chat
                </button>
            </form>

            <form class="chatgpt-form-class" id="chatgpt_form_new_conversation"
                  action="/chatgpt" method="POST" style="background:#b2c8f6">
                <button name="chatgpt_new_chat" id="chatgpt_new_chat"
                        class="chatgpt-new-chat" style="background:#efbf57"
                        >New Chat - Clear Messages
                </button>
            </form>
        </div>
    </div>

    <div class="body">
        <br>
        <div class="chatgpt-list-api-call-info">
            <p>Get an answer from ChatGPT assistant or fake the API call with the checkbox. <br>
               You can check ChatGPT from its website and OpenAI API here:<br>
                <span class="body_small"><a href="https://chat.openai.com/chat">https://chat.openai.com/chat</a> </span> <br>
                <span class="body_small"><a href="https://platform.openai.com/docs/introduction">https://platform.openai.com/docs/introduction</a> </span>
            <p>
        </div>
        <div class="chatgpt-list-api-call-info">
            <p>
                <strong>Chat messages</strong> <br>
            </p>
        </div>

        {% if messages and messages['error'] %}
            <div class="general-list-api-call-error">
                <br>
                <p><strong>API Error:  {{ messages[4]['error'] }} </strong> </p>
                <br>
            </div>
        {% endif %}

        <table class="mui-table mui-table--bordered">
            <thead>
            <tr>
                <th>id</th>
                <th>Author</th>
                <th>Message</th>
            </tr>
            </thead>
            {% if messages['messages'] %}
                <tbody>
                {% for item in messages['messages'] %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.author }}</td>
                        <td>{{ item.text | safe }}</td>
                    </tr>
                {% endfor %}
                </tbody>
		    {% else %}
                <tbody>
                <tr>
                    <td></td>     <td></td>     <td></td>
                </tr>
                </tbody>
		    {% endif %}
        </table>
    </div>
{% endblock %}
