{% extends "base.html" %}

{% block content %}
    <h1>Home</h1>
    <div class="body">
        <p>This is a very simple Flask Application example that calls some APIs.</p>
    </div>

    <div class="body apis-list">
        <p>Kudos to the APIs we have used in this little project:<br> </p>
        <table class="mui-table mui-table--bordered">
            <thead>
            <tr>
                <th>Button</th>
                <th>API</th>
                <th>Website</th>
                <th>Comment</th>
            </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>Anime list</td>
                        <td>Jikan</td>
                        <td class="body_small"><a href="https://jikan.moe/">https://jikan.moe/</a></td>
                        <td>Jikan (時間) is an open-source PHP & REST API for MyAnimeList.net. It parses the website to satisfy the need for an API.</td>
                    </tr>
                    <tr>
                        <td>Pokemon</td>
                        <td>PokéAPI</td>
                        <td class="body_small"><a href="https://pokeapi.co/">https://pokeapi.co/</a></td>
                        <td>Provides a RESTful API interface to highly detailed objects built from thousands of lines of data related to Pokémon.</td>
                    </tr>
                    <tr>
                        <td>NASA APOD</td>
                        <td>NASA - Astronomy Picture of the DAY</td>
                        <td class="body_small"><a href="https://api.nasa.gov/">https://api.nasa.gov/</a></td>
                        <td>One of the most popular websites at NASA,the Astronomy Picture of the Day.
                            Each day a different image or photograph of our fascinating universe is featured,
                            along with a brief explanation written by a professional astronomer.
                            <span class="body_small"><a href="https://apod.nasa.gov/apod/">https://apod.nasa.gov/apod/</a> </span> .
                        </td>
                    </tr>
                    <tr>
                        <td>NASA Asteroids</td>
                        <td>NASA - Asteroids - NeoWs</td>
                        <td class="body_small"><a href="https://api.nasa.gov/">https://api.nasa.gov/</a></td>
                        <td>NeoWs (Near Earth Object Web Service) is a RESTful web service for near earth Asteroid information. With NeoWs a user can:
                            search for Asteroids based on their closest approach date to Earth,
                            lookup a specific Asteroid with its NASA JPL small body id, as well as browse the overall data-set.
                            <br>
                            Data-set: All the data is from the NASA JPL Asteroid team:
                            <span class="body_small"><a href="http://neo.jpl.nasa.gov/">http://neo.jpl.nasa.gov/</a> </span> .
                        </td>
                    </tr>
                    <tr>
                        <td>NASA Exoplanets</td>
                        <td>NASA Exoplanet Archive</td>
                        <td class="body_small"><a href="https://api.nasa.gov/">https://api.nasa.gov/</a></td>
                        <td>
                            The NASA Exoplanet Archive is an online astronomical exoplanet and stellar catalog and data service
                            that collates and cross-correlates astronomical data and information on exoplanets and their host stars,
                            and provides tools to work with these data.
                            <br>The archive is dedicated to collecting and serving important public data sets
                            involved in the search for and characterization of extrasolar planets and their host stars.
                            These data include stellar parameters (such as positions, magnitudes, and temperatures),
                            exoplanet parameters (such as masses and orbital parameters)
                            and discovery/characterization data (such as published radial velocity curves, photometric light curves, images, and spectra).
                            <p style="color:green;"><strong>An exoplanet, or extrasolar planet, is a planet outside of our solar system that usually orbits another star in our galaxy</strong>.</p>
                            NASA Exoplanets:
                            <span class="body_small"><a href="https://exoplanets.nasa.gov/">https://exoplanets.nasa.gov/</a> </span> .
                            <br>The NASA Exoplanet Archive:
                            <span class="body_small"><a href="https://exoplanetarchive.ipac.caltech.edu/">https://exoplanetarchive.ipac.caltech.edu/</a> </span> .
                            <br>Exoplanet Archive API User Guide:
                            <span class="body_small"><a href="https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html">https://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html</a> </span> .
                            <br>Exoplanet Archive API Exoplanet Columns:
                            <span class="body_small"><a href="https://exoplanetarchive.ipac.caltech.edu/docs/API_exoplanet_columns.html">https://exoplanetarchive.ipac.caltech.edu/docs/API_exoplanet_columns.html</a> </span> .
                            <br>
                            Data collected from the Planetary Systems table (PS), which is connected to the Exoplanet Archive TAP service.
                            Please review the TAP User Guide and create a new query for the most current data:
                            <span class="body_small"><a href="https://exoplanetarchive.ipac.caltech.edu/docs/TAP/usingTAP.html">https://exoplanetarchive.ipac.caltech.edu/docs/TAP/usingTAP.html</a> </span>
                            <br>Please note the database column names have also changed;
                            this document contains the current definitions and a mapping between the new and deprecated names:
                            <span class="body_small"><a href="https://exoplanetarchive.ipac.caltech.edu/docs/API_PS_columns.html">https://exoplanetarchive.ipac.caltech.edu/docs/API_PS_columns.html</a> </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Spotify</td>
                        <td>Spotify</td>
                        <td class="body_small"><a href="https://developer.spotify.com/documentation/web-api/">https://developer.spotify.com/documentation/web-api/</a></td>
                        <td>We use Spotify Web API to retrieve metadata about music artists, albums,
                            and tracks, directly from the Spotify Data Catalogue. <br>
                            API credentials are needed to request the API. <br>
                            <div class="text_indent">
                                Regarding this example you must create the folder spotify_api_keys in the HOME directory
                                with a file containing your API public key (spotify_public_key.key)
                                and another file containing your API private key spotify_private_key.key
                                You can copy this directory structure from the extra folder of this project.
                            </div>
                            Data provided by Spotify. © 2022 Spotify.
                            <br> Developer Portal:
                            <a href="https://developer.spotify.com/">https://developer.spotify.com/</a>
                            <br> API Documentation:
                            <a href="https://developer.spotify.com/documentation/web-api/">https://developer.spotify.com/documentation/web-api/</a>
                            <a href="https://developer.spotify.com/documentation/general/guides/authorization/">https://developer.spotify.com/documentation/general/guides/authorization/</a>
                            <a href=https://developer.spotify.com/documentation/web-api/reference/search/">https://developer.spotify.com/documentation/web-api/reference/search/</a>
                            <a href="https://developer.spotify.com/documentation/general/guides/authorization/app-settings/">https://developer.spotify.com/documentation/general/guides/authorization/app-settings/</a>
                            <br> Spotipy dependency:
                            <a href="https://spotipy.readthedocs.io/">https://spotipy.readthedocs.io/</a>
                        </td>
                    </tr>
                    <tr>
                        <td>OpenAI ChatGPT</td>
                        <td>OpenAI</td>
                        <td class="body_small"><a href="https://platform.openai.com/">https://platform.openai.com/</a></td>
                        <td>The OpenAI API can be applied to virtually any task that involves
                            understanding or generating natural language or code.. <br>
                            We use their API in this project to interact with ChatGPT
                            using the model gpt-3.5-turbo.<br>


                            An API key is needed to request the API. <br>
                            <div class="text_indent">
                                Regarding this example you must create the folder openai_api_keys in the HOME directory
                                with a file containing your API private key marvel_private_key.key
                                You can copy this directory structure from the extra folder of this project. <br>
                            </div>
                            <br> ChatGPT website: <br>
                            <a href="https://chat.openai.com/chat">https://chat.openai.com/chat</a>
                            <br> API Documentation: <br>
                            <a href="https://platform.openai.com/docs/introduction">https://platform.openai.com/docs/introduction</a>
                            <a href="https://platform.openai.com/docs/api-reference/introduction">https://platform.openai.com/docs/api-reference/introduction</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Marvel Comics</td>
                        <td>Marvel Comics</td>
                        <td class="body_small"><a href="https://www.marvel.com/comics/">https://www.marvel.com/comics/</a></td>
                        <td>The Marvel Comics API is a tool to help developers everywhere create amazing,
                            uncanny and incredible web sites and applications using data from the several years of the Marvel age of comics. <br>
                            An API key is needed to request the API. <br>
                            <div class="text_indent">
                                Regarding this example you must create the folder marvel_api_keys in the HOME directory
                                with a file containing your API public key (marvel_public_key.key)
                                and another file containing your API private key marvel_private_key.key <br>
                                You can copy this directory structure from the extra folder of this project.
                            </div>
                            The Marvel API suite and portal are in beta and is an evolving project. <br>
                            There is really a lot of good stuff to request from Marvel API.
                            Data provided by Marvel. © 2021 Marvel.
                            <br> Developer Portal at Marvel.com:
                            <a href="https://developer.marvel.com/">https://developer.marvel.com/</a>
                            <br> API Documentation:
                            <a href="https://developer.marvel.com/docs">https://developer.marvel.com/docs</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Dog breeds</td>
                        <td>Dog API</td>
                        <td class="body_small"><a href="https://dog.ceo/dog-api/">https://dog.ceo/dog-api/</a></td>
                        <td>Dog API. Original dataset taken from the the Stanford Dogs Dataset.</td>
                    </tr>
                </tbody>
        </table>
    </div>
{% endblock %}
