{% extends "base.html" %}

{% block content %}
    <h1>Spotify Music API call</h1>

    <div class="body">
        <br>
        <form class="spotify-form-class" id="spotify_form_albums"
              action="/spotify-music" method="POST" style="background:#b2c8f6">
            <div class="row">
                    <div class="col">
                        <p><strong>Search Spotify Music Albums<br>
                            <span class="body_highlight_color_2">(An API key is needed)</span></strong>
                        </p>
                        <p><strong>Artist to search</strong></p>
                        <input name="spotify_music_artist" id="spotify_music_artist" type="text"
                               placeholder="Eg: Hilary Hahn" required>
                        <p><strong>Match title method</strong></p>
                        <select name="spotify_artist_match_method" id="spotify_artist_match_method" type="text" required>
                            <option value="">&lt;Select a method&gt;</option>
                            <option value="title_contains" selected>Starts with specified text</option>
                        </select>
                        <p><strong>Max. returned albums (max. 5000)</strong></p>
                        <input name="spotify_albums_limit" id="spotify_albums_limit" type="number"
                               placeholder="Eg: 99" value="200" required min="1" max="5000">
                        <p><strong>Order by</strong></p>
                        <select name="spotify_albums_order_by" id="spotify_albums_order_by" type="text" required>
                            <option value="">&lt;Select a sorting method&gt;</option>
                            <option value="releaseDateDesc" selected>Release Date Desc.</option>
                        </select>
                    </div>
            </div>
            <button class="submit-albums-random">Submit</button>
        </form>
    </div>

    <div class="body">
        <br>
        <div class="spotify-list-api-call-info">
            <p>
                <strong> Retrieve a list of Spotify albums which artist contains some given text.</strong> <br>
            </p>
            <p>
                {% if albums[1] %}
                    <a href="https://open.spotify.com/">{{ albums[2].attribution_text }}.</a>
                {% else %}
                    <a href="https://open.spotify.com/">Data provided by Spotify. © 2022 Spotify.</a>
                {% endif %}
                You can check the Spotify Music website here:
                <span class="body_small"><a href="https://open.spotify.com/">https://open.spotify.com/</a> </span>
            <p>
                {%  if form_executed == 'spotify_form_music' %}
                        # Spotify albums of title that starts with <strong>{{ albums[0] and albums[0][0] or albums[0] }}</strong> ,
                    match method: <strong>{{ albums[0] and albums[0][4] or '' }}</strong> ,
                    limit: <strong>{{ albums[0] and albums[0][1] or '-' }}</strong> ,
{#                    dates: (<strong>{{ albums[0] and albums[0][2] or '-' }}, {{ albums[0] and albums[0][3] or '-' }}</strong>) ,#}
                    order by: <strong>{{ albums[0] and albums[0][5] or '-' }}</strong>
                    found on
                {% else %}
                        # Spotify albums of title that starts with <strong> __ </strong> found
                {% endif %}
                :
                <strong>{{ albums[1] }}</strong> .
            </p>
        </div>

        {% if albums and albums[4]['error'] %}
            <div class="nasa-list-api-call-error">
                <br>
                <p><strong>API Error:  {{ albums[4]['error'] }} </strong> </p>
                <br>
            </div>
        {% endif %}

        <table class="mui-table mui-table--bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Artist</th>
                <th>Name</th>
                <th>Release Date</th>
                <th>Total Tracks</th>
                <th>URL / URL Image</th>
                <th>Image</th>
                <th>Album Type</th>
                <th>Type</th>
                <th>id</th>
                <th>URI</th>
                <th>Artists</th>
                <th>Artist URL / Artist Image URL</th>
            </tr>
            </thead>
            {% if albums and albums[3] %}
                <tbody>
                {% for item in albums[3] %}
                    <tr>
                        <td>{{ item.num_id }}</td>
                        <td>{{ item.artist.name }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.release_date }}</td>
                        <td>{{ item.total_tracks }}</td>
                        <td class="body_small"><a href="{{ item.url }}">{{ item.url }}</a></td>
                        <td>
                            <img src="{{ item.image_url }}" style="height: 200px;"
                                 alt="{{ item.image_url }} picture">
                        </td>
                        <td>{{ item.album_type }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.uri }}</td>
                        <td>{{ item.artists }}</td>
                        <td class="body_small"><a href="{{ item.artist.url }}">{{ item.artist.url }}</a></td>
                    </tr>
                    <tr>
                        <td></td>     <td></td>     <td></td>     <td></td>     <td></td>
                        <td class="body_small"><a href="{{ item.image_url }}">{{ item.image_url }}</a></td>
                        </td>
                        <td></td>     <td></td>     <td></td>
                        <td></td>     <td></td>     <td></td>
                        <td class="body_small"><a href="{{ item.artist.image_url }}">{{ item.artist.image_url }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
		    {% else %}
                <tbody>
                <tr>
                    <td></td>     <td></td>     <td></td>
                    <td class="body_small"></td>
                    <td></td>     <td></td>     <td></td>     <td></td>     <td></td>
                    <td></td>     <td></td>     <td></td>     <td></td>
                </tr>
                </tbody>
		    {% endif %}
        </table>
    </div>
{% endblock %}
